
        .em-3 {
          font-size: 3em;
        }
        .em-2 {
          font-size: 2em;
        }
        .em-1 {
          font-size: 1em;
        }
        .em-4 {
          font-size: 4em;
        }
        .em-5 {
          font-size: 5em;
        }
        .section-header {
            color: #9F66A9;
          }
        .social-logo {
            -webkit-filter: invert(100);
                     filter: invert(100);
        }
              
                /*
        * Prefixed by https://autoprefixer.github.io
        * PostCSS: v7.0.29,
        * Autoprefixer: v9.7.6
        * Browsers: last 4 version
        */

        main, .grid, .team {
            overflow: visible
        }

        .float-left {
            float: left
        }

        strong {
            color: inherit
        }

        

        * {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          position: relative
        }

         
        .float-right {
          float: right
        }

        .instructions {
          font-size: 1.2em;
          font-weight: 400;
          font-style: italic;
          margin-bottom: 1em;
        }

    
        .sub-section-header {
          color: #9F66A9;   
        }

        

        html, body {
          font-weight: 900;
          overflow: visible;
          padding: 0;
          width: 100%;
          margin: 0;
          background-color: #F1F1F2
        }

        ::-webkit-scrollbar {
          display: none;
          width: 0;
          -ms-overflow-style: none;
          scrollbar-width: none
        }

        .appContainer, main {
          position: relative;
          overflow: hidden
        }

        @media (min-width:1600px) {
         
          .carousel-container {
            padding-bottom: 3rem;
            max-width: 80%;
            margin: auto auto 5rem;
            width: 1200px;
            bottom: 2.5em;
          }
          .team {
            width: 1000px;
            justify-content: center;
            margin: auto;
            padding: 30px 30px;
            display: flex;
            flex-wrap: wrap;
            background-color: rgb(208, 180, 213);
            border-radius: 50px;
          }
          .team_bg_image {
            position: absolute;
            bottom: 5em;
            top: 5rem;
            right: -15rem;
            width: 50rem;
            z-index: -10;

          }
          .team-section {
            bottom: 200px;
            width: 100%;
            justify-content: center;
            margin: auto;
            padding-bottom: 80px;
            padding-top: 100px;
            padding-left: 100px;
            padding-right: 100px;
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(159, 102, 169, 0.2);
           }
          .team-title {
            width: 750px;
            margin: 1em auto;
            font-weight: 900;
          }
          .partners-title {
            width: 1200px;
            margin: auto;
            bottom: 1em;
            margin-bottom: 1em;
            font-weight: 900;
          }
          .exchanges-title {
            width: 1200px;
            margin: auto;
            margin-top: 2em;
            margin-bottom: 1em;
            font-weight: 900;
            bottom: 1em;
          }
          .section_3_imageAside {
            width: 500px; 
          }
          .section-3-text {
            width: 90%;
            margin: 1em 0;
            font-size: 1.3em;
          }
          .section_3_img {  
            -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                    filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
            width: 650px;
            transform: translateY(-50px);
            z-index: 10;
          }
          .section-3-header {
            line-height: 1em;
            font-weight: 900;
            width: 90%;
          }
          .section_3 {
            margin: auto;
            margin-bottom: 100px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 1200px;
            position: relative
          }
          


          .section_2_imageAside {
            width: 500px; 
        
          }
          .section-2-text {
           
            margin: 1em 0;
            font-size: 1.3em;
          }
          .section_2_img {  
            -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                    filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
            width: 650px;
            left: -80px;
            bottom: 200px;
            

          }
          .section-2-header {
            line-height: 1em;
            font-weight: 900;
            width: 90%;
          }
          .section_2 {
            margin: auto;
            margin-top: 150px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 1200px;
            position: relative
          }
          .section_1_container {
            width: 1200px;
            margin: auto;
             overflow: visible;
            height: 500px;
          }
          .section_1 {
            height: 700px;
            border-radius: 0 0 200px 200px;
            background-color: #224099;
            background-size: 100% 800px;
            margin: auto;
            width: 95%;
            color: #F1F1F2;
            overflow: hidden;
          }
          .mainContents {
            width: 500px;
            font-weight: 600;
            line-height: 1.3;
          }

          .section_1_large_bg {
            position: absolute;
            width: 800px;
            right: -15rem;
            top: 2rem;
            z-index: 1
          }
          .section_1_bg {
            display: none;
            position: absolute;
            max-width: 18rem;
            left: 33rem;
            top: 4rem;
            z-index: 1
          }
          .mainTitle {
            margin-top: 0.5em;
            line-height: 4rem; 
            font-weight: 900;
          }
          .mainContentsText_1 {
            margin: 1.5em 0;
            font-size: 1.5em;
          }
          main {
            width: 100%;
            margin: auto;
            overflow: visible
          }
            
            
          .appContainer {
            overflow: hidden
          }
          .headerContentContainer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            max-height: 10rem
          }
             
          h4 {
            font-weight: 900;
            margin: 0;
            padding: 0;
            line-height: 1.5rem
          }
          h5 {
            font-weight: 900;
            margin: 0;
            padding: 0
          }
           
           
          .socials-title {
            font-size: 2em;
            width: 30%;
          }
          .social-logo {
            width: 40px;
            margin-right: 20px;
          }
          .socials-grid {
            width: 30%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }
          footer {
            width: 1600px;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            color: #F1F1F2;
            background-color: #224099;
            height: 300px;
            overflow: hidden;
            border-radius: 300px 300px 0 0;
            position: static;
            margin: auto;
          }
          .footer_1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: auto;
            margin-bottom: auto;
          }
          .footer_2 {
            text-align: center;
            background-color: #203c88
          }
          .footer_3 {
            background-color: #1d357a;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px
          }
        }

        @media (min-width:1000px) and (max-width:1600px) {
          .social-logo {
            width: 50px;
          }
          .socials-grid {
            width: 300px;
            display: flex;
            margin: auto;
            flex-wrap: wrap;
            justify-content: space-evenly;
          }
            .team-title {
                 padding-bottom: 4rem;
                margin: auto;
                max-width: 60%;
                padding-top: 3rem
            }
            .team {
              width: 900px ;
              margin: auto;
              display: flex;
              flex-wrap: wrap;
            }
            .sizeRestrictor {
                max-width: 1200px;
                margin: auto
            }
             
            .section_1 {
                height: 500px;
                border-radius: 0 0 200px 200px;
                background-color: #224099;
                background-size: 100% 800px;
                margin: auto;
                width: 100%;
                color: #F1F1F2
            }
            .section_1_large_bg {
                position: absolute;
                max-width: 22rem;
                right: 3rem;
                top: -12rem;
                z-index: 1
            }
            .section_1_bg {
                display: none;
                position: absolute;
                max-width: 18rem;
                left: 33rem;
                top: 5rem;
                z-index: 1
            }
            .mainContents {
                display: block;
                width: 40%;
                font-weight: 600;
                 line-height: 1;
                right: -5rem;
                top: 2rem
            }
            .mainTitle {
                
                line-height: 2rem;
                margin-bottom: 20px
            }
            .mainContentsText_1 {
                margin-bottom: 20px
            }
            main {
                width: 100%;
                margin: auto;
                overflow: visible
            }
            .section_2_imageAside {
                max-width: 25rem;
                top: 6rem;
             }
            .section_2_img {
                max-width: 25rem;
                margin-bottom: 30px;
                bottom: 9rem;
                margin-bottom: 50px;
                margin-top: 40px;
                width: 100%;
                -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                        filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3))
            }
            .section_2 {
                top: 2rem;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                width: 80%;
                margin: auto;
                width: 90%;
                display: block;
                margin-bottom: 80px;
                position: relative;
                bottom: 70px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between
            }
            .section_2_button {
                margin-top: 1rem
            }
            .section_3_imageAside {
                max-width: 30rem;
                bottom: 7rem;
             }
            .section_3_img {
                margin-top: 40px;
                width: 400px;
                margin-bottom: 30px;
                -webkit-transform: translateX(1.6rem);
                    -ms-transform: translateX(1.6rem);
                        transform: translateX(1.6rem);
                -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                        filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                bottom: 2rem
            }
            .section_3 {
                margin: 9rem auto auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                width: 80%;
                bottom: 2rem;
                position: relative;
                padding-bottom: 3rem
            }
            .appContainer {
                overflow: hidden
            }
            .headerContentContainer {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                justify-content: space-around
            }
            .pillText_1 {
                margin-top: 20px;
                bottom: 20px;
                width: 100%;
                margin-top: 2rem;
                max-width: 28rem
            }
            .pillContainer {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start
            }
            h4 {
                
                font-weight: 900;
                margin: 0;
                padding: 0;
                line-height: 1.5rem
            }
            h5 {
                
                font-weight: 900;
                margin: 0;
                padding: 0
            }
            .pill_bg_image {
                position: absolute;
                bottom: 0;
                top: 5rem;
                right: -7rem;
                max-width: 20rem;
                z-index: 2
            }
            .label-options {
                text-align: center
            }
            .versionLabel {
                -webkit-transform: scale(1.2, 1.2);
                    -ms-transform: scale(1.2, 1.2);
                        transform: scale(1.2, 1.2);
                float: right;
                margin-top: 5px;
                width: 30px;
                height: 15px;
                color: #F1F1F2;
                padding-top: 1px;
                background-color: #6E308B;
                
                text-align: center;
                border-radius: 10px
            }
            .square_label_img {
                width: 70%;
                margin: auto;
                display: block
            }
            .squareLabel {
                -webkit-transform: scale(.8, .8);
                    -ms-transform: scale(.8, .8);
                        transform: scale(.8, .8);
                -webkit-box-sizing: content-box;
                        box-sizing: content-box;
                margin-right: 10px;
                display: inline-block;
                padding: 15px;
                
                font-weight: 900;
                color: #000;
                width: 110px;
                height: 110px;
                background-color: #EFF0EB;
                border-radius: 20px;
                margin-bottom: 8px;
                top: 20px
            }
            .pill_1_button {
                margin-top: 3rem;
                bottom: 50px;
                float: left
            }
            .pill_section_2_img {
                -webkit-transform: translateX(-15px);
                    -ms-transform: translateX(-15px);
                        transform: translateX(-15px);
                width: 100%;
                display: block;
                -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                        filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                z-index: 3
            }
            .purplePill {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin-bottom: 60px;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                color: #F1F1F2;
                padding-left: 40px;
                padding-right: 40px;
                width: 95%;
                background-color: #9F66A9;
                border-radius: 150px
            }
            .purplePill_1 {
                width: 100%;
                margin-left: 30px
            }
          
            
            .partners-title {
                max-width: 80%;
                margin: auto auto 50px
            }
            .exchanges-title {
                max-width: 80%;
                margin: auto auto 50px
            }
            footer {
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                margin: auto;
                color: #F1F1F2;
                background-color: #224099;
                height: 350px;
                border-radius: 200px 200px 0 0;
                position: static;
                width: 1200px;
            }
              
            .socials-title {
                max-width: 10rem
            }
            
            .footer_2 {
                text-align: center;
                background-color: #203c88
            }
            .footer_3 {
                background-color: #1d357a;
                
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px
            }
        }

        @media (min-width:700px) and (max-width:1000px) {
          .social-logo {
            width: 100px;
          }
          .socials-grid {
            max-width: 800px;
            display: flex;
            margin: auto;
          }
            .section_1_large_bg {
                position: absolute;
                max-width: 23rem;
                right: 5rem;
                top: -18rem;
                z-index: 1
            }
            .section_1 {
                height: 400px;
                border-radius: 0 0 200px 200px;
                background-color: #224099;
                background-size: 100% 800px;
                color: #F1F1F2
            }
            .section_1_bg {
                display: none;
                position: absolute;
                max-width: 18rem;
                left: 33rem;
                top: 5rem;
                z-index: 1
            }
            .mainContents {
                display: block;
                width: 40%;
                font-weight: 600;
                
                line-height: 1rem;
                left: 5rem
            }
            .mainTitle {
                
                max-width: 15rem;
                line-height: 1.8rem;
                margin-bottom: 20px;
                margin-top: 20px
            }
            .mainContentsText_1 {
                margin-bottom: 20px;
             }
            main {
                width: 100%;
                margin: auto;
                overflow: visible
            }
            .section_2_imageAside {
                max-width: 16rem;
                
                top: 0
            }
            .section_2_img {
                max-width: 22rem;
                margin-bottom: 30px;
                bottom: 7rem;
                margin-bottom: 50px;
                margin-top: 40px;
                width: 100%;
                -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                        filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3))
            }
            .section_2 {
                top: 2rem;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                width: 80%;
                margin: auto;
                width: 90%;
                display: block;
                margin-bottom: 80px;
                position: relative;
                bottom: 70px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between
            }
            .section_2_button {
                margin-top: 1rem
            }
            .section_3_imageAside {
                width: 25rem;
                max-width: 22rem;
                bottom: 7rem
            }
            .section_3_img {
                margin-top: 40px;
                width: 25rem;
                -webkit-transform: translateX(1.6rem);
                    -ms-transform: translateX(1.6rem);
                        transform: translateX(1.6rem);
                -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                        filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                bottom: 4rem
            }
            .section_3 {
                margin: 9rem auto auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                width: 80%;
                bottom: 3rem;
                position: relative
            }
            .appContainer {
                overflow: hidden
            }
           
            .headerContentContainer {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                justify-content: space-around
            }
            .pillText_1 {
                margin-top: 20px;
                bottom: 20px;
                width: 100%;
                margin-top: 2rem;
                max-width: 18rem
            }
            .pillContainer {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start
            }
            h4 {
                
                font-weight: 900;
                margin: 0;
                padding: 0;
                line-height: 1.5rem
            }
            h5 {
                
                font-weight: 900;
                margin: 0;
                padding: 0
            }
            .team-header-container {
                max-width: 500px;
                margin: auto;
                width: 60%
            }
            .pill_bg_image {
                position: absolute;
                bottom: 0;
                top: 5rem;
                right: -7rem;
                max-width: 20rem;
                z-index: 2
            }
            .label-options {
                text-align: center
            }
            .versionLabel {
                -webkit-transform: scale(1.2, 1.2);
                    -ms-transform: scale(1.2, 1.2);
                        transform: scale(1.2, 1.2);
                float: right;
                margin-top: 5px;
                width: 30px;
                height: 15px;
                color: #F1F1F2;
                padding-top: 1px;
                background-color: #6E308B;
                
                text-align: center;
                border-radius: 10px
            }
            .square_label_img {
                width: 70%;
                margin: auto;
                display: block
            }
            .squareLabel {
                -webkit-transform: scale(.8, .8);
                    -ms-transform: scale(.8, .8);
                        transform: scale(.8, .8);
                -webkit-box-sizing: content-box;
                        box-sizing: content-box;
                margin-right: 10px;
                display: inline-block;
                padding: 15px;
                
                font-weight: 900;
                color: #000;
                width: 110px;
                height: 110px;
                background-color: #EFF0EB;
                border-radius: 20px;
                margin-bottom: 8px;
                top: 20px
            }
            .pill_1_button {
                margin-top: 3rem;
                bottom: 50px;
                float: left
            }
            .pill_section_2_img {
                -webkit-transform: translateX(-15px);
                    -ms-transform: translateX(-15px);
                        transform: translateX(-15px);
                width: 100%;
                display: block;
                -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                        filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                z-index: 3
            }
            .purplePill {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin-bottom: 60px;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                color: #F1F1F2;
                padding-left: 40px;
                padding-right: 40px;
                width: 95%;
                background-color: #9F66A9;
                border-radius: 150px
            }
            .purplePill_1 {
                width: 100%;
                margin-left: 30px
            }
            
            
            .partners-title {
                max-width: 80%;
                margin: auto auto 50px
            }
            .exchanges-title {
                max-width: 80%;
                margin: auto auto 50px
            }
            footer {
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                margin: auto;
                color: #F1F1F2;
                background-color: #224099;
                height: 350px;
                border-radius: 200px 200px 0 0;
                position: static;
                width: 90%
            }
            
            .socials-title {
                max-width: 10rem
            }
            .footer_2 {
                text-align: center;
                background-color: #203c88
            }
            .footer_3 {
                background-color: #1d357a;
                
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px
            }
        }

        @media (max-width:700px) {
          .social-logo {
            width: 100px;
          }
          .socials-grid {
            max-width: 800px;
            display: flex;
            margin: auto;
          }
          .team {
              width: 300px;
              margin: auto;
              display: flex;
              flex-wrap: wrap;
              -webkit-transform: translateX(-11px);
                    -ms-transform: translateX(-11px);
                        transform: translateX(-11px)
            } 
            .pill_bg_image {
                position: absolute;
                bottom: 0;
                top: 20rem;
                right: -7rem;
                max-width: 20rem;
                z-index: 1
            }
           
        
            
            .team-header-container {
                min-width: 500px;
                margin-bottom: 2rem;
                text-align: center
            }
            .versionLabel {
                float: right;
                margin-top: 5px;
                width: 30px;
                height: 15px;
                color: #F1F1F2;
                background-color: #6E308B;
                
                text-align: center;
                border-radius: 10px
            }
            .square_label_img {
                width: 70%;
                margin: auto;
                display: block
            }
            .squareLabel {
                margin-right: 10px;
                display: inline-block;
                padding: 20px;
                
                font-weight: 900;
                color: #000;
                width: 110px;
                height: 110px;
                background-color: #EFF0EB;
                border-radius: 20px;
                margin-bottom: 8px
            }
            .pill_1_button {
                margin-top: 10px;
                bottom: 50px
            }
            .pillText_1 {
                bottom: 20px;
                margin-top: 0
            }
            .purplePill {
                margin: auto;
                -webkit-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                        justify-content: space-evenly;
                color: #F1F1F2;
                padding-top: 40px;
                padding-bottom: 50px;
                width: 90%;
                background-color: #9F66A9;
                border-radius: 25px
            }
            .purplePill_1 {
                margin: auto;
                width: 90%
            }
            .purplePill_2 {
                margin: auto;
                width: 90%
            }
            .pill_section_2_img {
                width: 90%;
                display: block;
                margin: auto;
                -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                        filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                z-index: 3
            }
            .pillContainer {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start
            }
            .section_1_bg {
                position: none;
                display: none;
                width: 500px;
                left: 200px;
                top: 400px
            }
            .mainContents {
                display: inline-block;
                padding-top: 15px;
                padding-left: 20px;
                padding-right: 15px;
                width: 100%;
                font-weight: 600;
                
                line-height: 1.3
            }
            .section_1 {
                padding-left: 0;
                padding-right: 0;
                height: 600px;
                border-radius: 0 0 80px 80px;
                background-color: #224099;
                background-size: 100% 800px;
                margin: auto auto 3rem;
                width: 100%;
                color: #F1F1F2
            }
            .mainContentsText_1 {
                margin-bottom: 20px
            }
            .section_2 {
                width: 90%;
                margin: auto auto 80px;
                display: block;
                position: relative;
                bottom: 70px
            }
            .section_2_img {
                width: 100%;
                margin-bottom: 50px;
                -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                        filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3))
            }
            .section_3 {
                width: 90%;
                display: block;
                position: relative;
                margin: auto;
                bottom: 100px
            }
            .section_3_img {
                margin-top: 40px;
                width: 100%;
                margin-bottom: 30px;
                -webkit-filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                        filter: drop-shadow(0px 10px 15px rgba(9, 9, 9, 0.3));
                z-index: 3
            }
            .section_3_imageAside {
                width: 100%
            }
            .mainTitle {
                
                line-height: 2rem;
                margin-bottom: 20px;
                margin-top: 20px
            }
            .vertical-reverse {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                flex-direction: column-reverse
            }
            .labelTitle {
                margin-bottom: 50px
            }
            .labelTitle h4 {
                
                line-height: 2rem;
                font-weight: 900
            }
            .labelTitle h5 {
                
                line-height: 2rem;
                font-weight: 900
            }
            p {
                font-weight: 900
            }
            .section_3_imageAside p {
                margin: 15px 0
            }
            .button {
                font-weight: 900
            }
            footer {
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                margin-top: 3rem;
                color: #F1F1F2;
                background-color: #224099;
                height: 400px;
                max-height: 800px;
                border-radius: 50px 50px 0 0;
                position: static;
                width: 100%
            }
            
            .socials-title {
                
                padding-left: 1rem
            }
            .footer_2 {
                text-align: center;
                background-color: #203c88
            }
            .footer_3 {
                background-color: #1d357a;
                
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px
            }
            
          
         
            .partners-title {
                
                margin-top: 4rem;
                margin-left: 2rem
            }
            .exchanges-title {
                margin-left: 2rem;
             }
            .team-title {
                z-index: 100;
                margin-top: 3rem;
                float: left;
                margin-left: 3rem
            }
        }