@charset "utf-8";
@import "flickity.min.css";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://use.typekit.net/sld7eum.css");




// Globals
*, .carousel-cell, .carousel-container, .flickity-viewportm, .flickity-slider {
    overflow: visible;
    box-sizing: content-box;
    font-family: noto-sans-extracondensed, sans-serif;
    font-weight: 400;
    font-style: normal;
   }

.flickity-button {
  // border: 1px solid rgba(0, 0, 0, 0.1);
}

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Noto Sans', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: rgba(0, 0, 0, 0);
// $link: $pink;
$danger: #9F66A9;
$warning: #F1F1F2;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';